.project__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
    .project__container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}